--extra-index-url https://abetlen.github.io/llama-cpp-python/whl/<cuda-version>
llama-cpp-python
huggingface-hub
transformers
librosa
torch
flash-attn
laion_clap

git+https://github.com/WaveGenAI/lyrics.git
git+https://github.com/WaveGenAI/prompt-generator.git
git+https://github.com/WaveGenAI/tagging.git

argbind>=0.3.7
descript-audiotools>=0.7.2
einops
numpy
torchaudio
tqdm
tensorboard
numba>=0.5.7
jupyterlab
lightning